html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: white;
}

/*================ start header ==================== */

header {
    background: url("../images/headerBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
    align-items: center;
}


.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 9999;
}

.menu-item {
    margin: 0 25px;
}


.login-btn {
    background-color: #fff;
    color: #93A5FF;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-btn span {
    margin-left: 10px;
}


.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/* -------Header Content ------ */
.header-content {
    margin-top: 50px;
}

.header-title {
    font-size: 40px;
}

.header-caption {
    font-size: 21px;
    opacity: 0.8;
}

.header-txt {
    background-color: #384170;
    color: #fff;
    padding: 14px 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 2px;
    max-width: 290px;
    width: 100%;
}

.header-txt::placeholder {
    color: #fff;
}

.header-domians {
    background-color: #384170;
    color: #fff;
    padding: 11px 20px 11px 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.header-btn {
    margin-left: 25px;
}
.flex-wrapper{
    flex-basis: 380px;
}
/*================ end header ==================== */

/*================ start main ==================== */

.section-title{
    color: #2E2E2E;
    margin: 0;
    text-align: center;
    font-size: 30px;
}
.section-caption{
    color: #2E2E2E;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

/*======== services section ========= */

.services{
    text-align: center;
    /* padding: 50px 0; */
}
.services div.row{
    margin-top: 80px;
}
.service{
    align-items: flex-start;
    margin-top: 45px;

}
.service-content{

    text-align: left;

}
.service img{
    margin-right: 15px;
}
.service-content p{
    opacity: 0.8;
    line-height: 25px;
    max-width: 430px;
}

/*======== start section ========= */

.start{
    background-color: #F7F8FF;
    /* padding: 80px 0; */
}
.start-box{
    
    border-radius: 5px;
    padding: 30px;
    position: relative;

}
.start-logo{

    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;

}
.start-title{
    color: white;
    margin-top: 38px;
    text-transform: uppercase;


}
.start-description{
    color: white;
    line-height: 28px;

}
.start-btn{
    background-color: white;
    color: #93A5FF;
    display: block;
    margin-left: auto;
    width: 155px;
}
.start-btn i{
    margin-left: 10px;
}
.start-img-fix{
    position: absolute;
    right: 30px;
    top: 30px;
    max-width: 220px;
}
.start-1{

    background-color: #93A5FF;
}
.start-2{
    background-color: #424D83;

}
.start-logo1{
    background-color: #424D83;

}
.start-logo2{
    background-color: #93A5FF;
}
/*======== plans section ========= */

.plan{
    color: #2E2E2E;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.13);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
}
.plan:hover .plan-bottom{
    height: 239px;
}
.plan:hover .plan-top{
    border-top: 10px solid #93A5FF;
}
.plans .row{
    margin-top: 80px;
}
.plan-top{
    padding: 60px 30px 30px 30px;
    transition: 0.3s;
    border-top: 10px solid transparent;
    height: 350px;

}

.plan-title{
    color: #2E2E2E;
}
.plan-description{
    color: #2E2E2E;
    line-height: 28px;
}
.plan-bottom{
    border-top:1px solid #EBEBEB ;
    padding: 30px 0;
    height: 128px;
    transition: 0.3s;
    height: 128px;
    overflow: hidden;
}
.plan-price{
    font-size: 30px;
    margin-top: 15px;
}
.plan-price small{
    font-size: 14px;
}
.plan-btn{
    color: #93A5FF;
    background-color: #F7F8FF;
    display: block;
    width: 185px;
    margin-top: 40px;
    margin-bottom: 25px;
}
.plan-btn i{
    margin-left: 10px;
}
/*======== comments section ========= */
.comments{
    background-color: #F7F8FF;
    /* padding: 60px 0; */
    height: 550px;
    position: relative;
}

.comments-img{
    position: absolute;

}
.comments-img1{
    top: -40px;
    right: 0;
}
.comments-img2{
    bottom: -50px;
    left: 0;

}
.comment{
    margin-top: 100px;    

}
.comment-img{
    width: 85px;
    margin: 15px;

}

.comment-rating i{

    color: #FAD56B;
    margin-right: 3px;
}
.comment-body{
    color: #2E2E2E;
    line-height: 28px;

}
.comment-person{
    color: #2E2E2E;

}
.comment-person::before{
    content: "-";
    margin-right: 3px;
}

/*======== clients section ========= */

.clients{
    margin-top: 70px;
}

.clients-logo{
    list-style: none;
    padding: 0 0 30px 0;
    text-align: center;
    flex-wrap: wrap;
}
.clients-logo li{
    flex-grow: 1;
    margin-bottom: 20px;

}
.clients-logo li img{
width: 160px;

}
.btn-clients{
    margin: 0 auto;
    display: block;
    width: 160px;
    text-align: center;
}

/*======== end main ========= */

/*======== start footer=========== */


footer{
    background-image: url(../images/footer_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 140px 0 80px 0;
    background-position: center top;

}
footer p{
    line-height: 28px;
}
footer .footer-bottom > div:last-child > a{
    line-height: 28px;
}

.footer-list-title{
    text-transform: uppercase;

}
.footer-menu{
    list-style: none;
    padding-left: 0;

}
.footer-menu-item{
    margin-bottom: 8px;
}

.accept{
    background-color: #2D355D;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    width: 70px;

}
.accept-img-35{
    width: 35% !important;
}
.accept img{
    width: 65%;

}
.footer-bottom{
    margin-top: 35px;
    align-items: end;
}
.social{
    justify-content: flex-end;
    margin-bottom: 15px;

}

.social-item{
    margin-right: 10px;
}
.footer-logo{
    margin-bottom: 15px;
}

.br-1::after{
    content: " ";
    border-right: 1px solid #fff;
    margin: 0 15px;
}