@media only screen and (max-width: 992px) {
    .menu-icon{
        display: block !important;
    }
    .main-menu{
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -250px;
        background-color: #7381c3;
        width: 250px;
        transition: 0.3s;
    }
    .menu-item{
        margin: 25px 15px !important;
    }
    .login-btn{
        display: block;
        text-align: center;
    }
    .header-btn{
        margin-left: 0;
        margin-top: 15px;
        width: 100%;
    }
    .header-txt{
        max-width: 100%;
    }
    .service-col-1{
        order: 1;

    }
    .service-col-2{
        order: 0;
    }
    .services-img{
        margin-bottom: 35px;
    }
    .comments{
        height: 800px;
    }
}
@media only screen and (max-width: 768px) {
    .img{
        order: 0;
    }
    .content{
        order: 1;
    }
    .comments{
        height: 1000px;
    }
    .header-content {
        margin-top: 0px;
    }
    .plan-bottom{
        height: 239px;
    }
    .plan-top{
        border-top:8px solid #93A5FF;
    }

     
}
@media only screen and (max-width: 576px) {
    .header-title{
        font-size: 34px;
    }
    .header-caption{
        font-size: 17px;
    }
    .start-img-fix{
        max-width: 150px;
    }
    .comments{
        height: 1200px;
    }
    footer{
        text-align: center;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .social{
        justify-content: center;
    }
    .accepts{
        justify-content: center;
    }

}